/* So you like code eh? Hi there *waves* */
/* Main style sheet */
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Are+You+Serious&display=swap");
h1, h2, h3, h4, h5, menu {
  font-family: "Merienda", serif;
  font-weight: 400;
  font-style: normal; }

/* General reset
~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img, input, select, textarea {
  color: none;
  max-width: 100%; }

ul {
  list-style: none; }

a img {
  border: 0; }

/* Basic styles
~~~~~~~~~~~~~~~~~~~~~~~~ */
body, html {
  font-size: 20px;
  font-family: "Livvic", serif;
  font-weight: 200;
  font-style: oblique 297deg;
  color: #91ffe5;
  /*text-shadow: -1px -1px 0 #c1fff26b; */
  text-shadow: 1px 0 0 rgba(32, 46, 52, 0.7), -1px 0 0 rgba(32, 46, 52, 0.7), 0 1px 0 rgba(32, 46, 52, 0.7), 0 -1px 0 rgba(32, 46, 52, 0.7); }

body {
  background: url("../images/flower.png") no-repeat bottom right/10%, url("../images/leaf.png") no-repeat bottom left/10%, url("../images/bubusky.jpg") no-repeat center/cover fixed;
  background-color: #20182c;
  position: relative; }

a {
  color: #2affcd;
  transition: 0.1s all; }

a img {
  transition: 0.1s all; }

a:hover {
  filter: hue-rotate(74.1deg);
  transition: 0.3s all; }

a:hover img {
  filter: hue-rotate(-74.1deg) brightness(110%);
  transition: 0.3s all; }

#wrapper {
  width: calc(100% - 1rem);
  margin: 0 auto;
  max-width: 1200px; }

#content {
  min-height: 700px;
  padding: 1rem 0; }

#main-content {
  background-image: linear-gradient(34deg, rgba(42, 1, 56, 0.788) 0%, rgba(1, 22, 28, 0.569) 45%, rgba(25, 7, 56, 0.851) 88%);
  border-color: rgba(64, 255, 232, 0.38);
  border-style: solid;
  border-width: 1px;
  border-radius: 1em;
  padding: 1.7em 1em; }

.hidden {
  display: none; }

p + p {
  margin-top: 1em; }

p {
  font-size: 1.5em;
  text-align: center;
  color: #9cd1ff; }

h1 {
  font-style: italic;
  font-size: 1px;
  /*filter: drop-shadow(0px 1px 1px #48141b);*/
  font-weight: normal;
  color: #93bdff;
  text-align: center;
  color: transparent;
  background: url("../images/liths-lab-logo-leafless.png") no-repeat center/100% auto;
  margin: 0 auto;
  width: 302px;
  height: 310px; }

h2, h3, h4 {
  margin-bottom: 1em;
  /*text-shadow: 1px 0 0 rgba(62, 200, 164, 0.5), -1px 0 0 rgba(62, 200, 164, 0.5), 0 1px 0 rgba(62, 200, 164, 0.5), 0 -1px 0 rgba(62, 200, 164, 0.5); */ }

h2 {
  font-style: italic;
  font-weight: normal;
  font-size: 2em;
  text-align: center; }

h2 + h3 {
  text-align: center;
  margin-top: -1em; }

h3 {
  font-size: 1.8em;
  text-align: center; }

.introduction {
  text-align: center;
  border-image: url("../images/border.png") 25% 0%/6px 0px;
  padding: 10px 1em 14px;
  background-image: linear-gradient(to left, transparent, rgba(32, 46, 52, 0.42) 12%, rgba(32, 46, 52, 0.42) 88%, transparent);
  /*text-shadow: 1px 0 0 rgba(62, 200, 164, 0.5), -1px 0 0 rgba(62, 200, 164, 0.5), 0 1px 0 rgba(62, 200, 164, 0.5), 0 -1px 0 rgba(62, 200, 164, 0.5); */ }

.hr {
  width: 70%;
  border-top: 1px solid white;
  margin: 3em auto; }

/* Buttons and links
~~~~~~~~~~~~~~~~~~~~~~~~ */
.social-media a {
  display: inline-block;
  text-decoration: none;
  margin: 0 0.22em;
  width: 1.5em;
  height: 1.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  transition: 0.1s all;
  filter: drop-shadow(1px 1px 0 #202e34) drop-shadow(-1px -1px 0 #5a8293) grayscale(60%); }

.social-media a[title="Twitter"] {
  background-image: url("../images/twitter.svg"); }

.social-media a[title="Twitch"] {
  background-image: url("../images/twitch.svg"); }

.social-media a[title="Youtube"] {
  background-image: url("../images/youtube.png"); }

.social-media a:hover {
  opacity: 1;
  filter: drop-shadow(1px 1px 0 #202e34);
  transition: 0.3s all; }

/* Menu
~~~~~~~~~~~~~~~~~~~~~~~~ */
menu {
  display: block;
  text-align: center;
  margin: 0 0 2rem;
  font-weight: bold; }
  menu menu a + a {
    margin-left: 1em; }

menu a {
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  border-style: solid;
  border-width: 20px 65px 20px 65px;
  border-image: url("../images/frame-menu.png") 32% 49% 32% 49% fill stretch stretch;
  text-shadow: none;
  position: relative;
  text-shadow: 1px 0 0 rgba(32, 46, 52, 0.7), -1px 0 0 rgba(32, 46, 52, 0.7), 0 1px 0 rgba(32, 46, 52, 0.7), 0 -1px 0 rgba(32, 46, 52, 0.7); }

menu a span {
  transition: all 0.1s;
  background: rgba(0, 0, 0, 0.42);
  margin: 0 -40px;
  padding: 0.4em;
  z-index: -1;
  position: relative; }

menu a:hover span {
  transition: all 0.5s;
  padding: 0.4em 1em;
  color: #8ddfc9; }

menu .active {
  filter: hue-rotate(74.1deg); }

menu .active:hover span {
  margin: 0 -40px;
  color: inherit; }

.navigation {
  text-align: center;
  margin-top: 2em; }

.navigation li {
  margin: 0 1em;
  filter: drop-shadow(1px 2px rgba(0, 0, 0, 0.6)); }

.text-gradient, h2 {
  text-shadow: none;
  background: -webkit-linear-gradient(45deg, #C382D6, #6170D5, #21C8D8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

/* Character navigation
~~~~~~~~~~~~~~~~~~~~~~~~ */
.simple-character-list {
  list-style: none;
  display: inline-flex;
  text-align: center; }

.simple-character-list span {
  display: block; }

.simple-character-list img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: top center;
  padding: 4px 4px 0;
  margin-bottom: -6px; }

.simple-character-list a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  transition: 0.1s all;
  border: 2px dotted #2affcd;
  background: #2c3e4536;
  overflow: hidden;
  text-shadow: 1px 0 0 rgba(32, 46, 52, 0.7), -1px 0 0 rgba(32, 46, 52, 0.7), 0 1px 0 rgba(32, 46, 52, 0.7), 0 -1px 0 rgba(32, 46, 52, 0.7); }

.simple-character-list a span {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  padding: 6px 0;
  background: rgba(44, 62, 69, 0.74); }

.simple-character-list a:hover {
  transition: 0.3s all;
  background: rgba(44, 62, 69, 0.84); }

/* Character sheets
~~~~~~~~~~~~~~~~~~~~~~~~ */
.sheets-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center; }

.sheets-list .sheet {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 600px;
  min-width: 200px;
  position: relative;
  width: 45%; }

.sheets-list img {
  max-height: 250px;
  margin-bottom: 1em;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-bottom: 1px solid #2affcd;
  transition: all 0.2s; }

.sheets-list a:hover img {
  transition: all 0.4s; }

.sheet {
  text-shadow: 1px 0 0 rgba(32, 46, 52, 0.7), -1px 0 0 rgba(32, 46, 52, 0.7), 0 1px 0 rgba(32, 46, 52, 0.7), 0 -1px 0 rgba(32, 46, 52, 0.7);
  margin: 0.5em;
  padding: 0.5em 1em;
  border-style: solid;
  border-width: 110px;
  color: #acfff7;
  border-image: url("../images/frame-1.png") 49.2% 49.2% 49.2% 49.2% fill stretch stretch; }

.sheet h3, .sheet h4 {
  text-align: center;
  color: #8ddfc9;
  position: absolute;
  left: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.2em 10px 0.3em;
  text-shadow: 1px 0 0 rgba(32, 46, 52, 0.7), -1px 0 0 rgba(32, 46, 52, 0.7), 0 1px 0 rgba(32, 46, 52, 0.7), 0 -1px 0 rgba(32, 46, 52, 0.7);
  transition: 0.1s all; }

.sheet h3 {
  margin-bottom: 0;
  color: #2affcd; }

.sheet a {
  text-decoration: none; }

.sheet a:hover h3, .sheet a:hover h4 {
  transition: 0.3s all; }

.sheet .inner {
  margin: -115px -119px;
  /*box-shadow: 0 0 6px #2affcd;*/
  border-radius: 57px;
  padding: 10px; }

.sheet .social-media {
  margin-top: 1em;
  text-align: center; }

#character-page .sheet h3, #character-page .sheet h4 {
  color: orange; }

#character-page .sheet img {
  float: left;
  overflow: hidden;
  margin: 0 1em 1em 0;
  max-height: 500px;
  min-width: 200px; }

#character-page .sheet .inner {
  display: flex;
  align-items: center; }

#character-page .sheet .inner:after {
  display: block;
  content: "";
  clear: both; }

#character-page .sheet .social-media {
  margin-left: 1em; }

/* Misc
~~~~~~~~~~~~~~~~~~~~~~~~ */
.introduction {
  margin: 2rem 3rem 1rem; }

#about h3 {
  text-align: center;
  margin-top: 2em; }

#about ul {
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
  display: grid;
  grid-auto-flow: column; }

#rules #content {
  padding-bottom: 140px; }

#rules p + h3, #rules p + h4, #rules ul + h3, #rules ul + h4 {
  margin-top: 2em; }

#rules ul {
  list-style: initial;
  margin-left: 2em; }

#rules ul + p {
  margin-top: 1em; }

#home .video {
  margin: 1.5em auto;
  max-width: 800px; }

.video {
  padding-top: 37%;
  position: relative;
  margin: 1.5em 0;
  box-shadow: 0 -1px 0 rgba(32, 46, 52, 0.8), -1px 0 0 rgba(32, 46, 52, 0.6), 1px 0 0 rgba(32, 46, 52, 0.6), 1px 1px 0 rgba(0, 0, 0, 0.6) inset; }

.video iframe {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0; }

.video:after, .video:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 35px;
  height: 35px;
  z-index: -1;
  background: url("../images/border-detail-sides.png") center left/auto 100% no-repeat; }

.video:after {
  right: -23px;
  background-position: right center; }

.video:before {
  left: -23px; }

/* Gallery
~~~~~~~~~~~~~~~~~~~~~~~~ */
.gallery {
  text-align: center;
  font-size: 0;
  /*  display: flexbox
  	flex-wrap: wrap;*/ }

.gallery li {
  position: relative;
  margin: 20px;
  display: inline-block;
  vertical-align: middle; }

.gallery li img {
  height: 400px;
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  border: 2px solid #6a7ec9a6;
  border-radius: 10px;
  box-shadow: 0 0 2px black;
  padding: 10px;
  background: rgba(0, 0, 0, 0.42); }

.gallery.small li img {
  height: 200px; }

.gallery li:after {
  content: "";
  position: absolute;
  left: -15px;
  right: -15px;
  bottom: -10px;
  top: -10px;
  /*  background: url("../images/image-tl.png") left top / 42px auto no-repeat,
  	url("../images/image-tm.png") center 5px / 50px auto no-repeat,
  	url("../images/image-tr.png") top right / 42px auto no-repeat,
  	url("../images/image-ml.png") 10px center / auto 52px no-repeat,
  	url("../images/image-mr.png") right center / auto 52px no-repeat,
  	url("../images/image-bl.png") bottom left / 42px auto no-repeat,
  	url("../images/image-bm.png") bottom center / 42px auto no-repeat,
  	url("../images/image-br.png") bottom right / 42px auto no-repeat*/ }

.gallery li.no-frame img {
  border: none;
  box-shadow: none;
  background: none; }

.gallery li.big img {
  max-width: 100%;
  height: unset; }

/* Footer
~~~~~~~~~~~~~~~~~~~~~~~~ */
/*.background-footer {
	height: 200px;
	position: relative;
	display: block;
	background: url("../images/background-footer.PNG") no-repeat top center/cover;
	 }*/
footer {
  margin: 1em auto;
  text-align: center; }

footer a {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), -1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.5);
  margin: 0 10px; }

@media screen and (min-width: 1800px) {
  p {
    padding: 0 2em; } }

/*# sourceMappingURL=main.css.map */
